**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.buildpath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Java ###
*.class
*.log
*.ctxt
*.jar
*.war
*.ear

### Tomcat / Jetty ###
*.tmp
*.bak
*.swp
work/
logs/
**/.smarttomcat/
**/.SmartTomcat/

### application files ###
*.properties
.env
.env.local
.env.production

### Project specific files ###
# Apache Maven
apache-maven-*/
apache-maven-*.tar.gz

# Apache Tomcat
apache-tomcat-*/
apache-tomcat-*.tar.gz

# Git files
FETCH_HEAD
cookies.txt

# Web configuration (if needed to be ignored)
# src/main/webapp/WEB-INF/web.xml